1.1 Unpacking a Sequence into Separate Variables

In [1]:
p = (10, 20)
a, b = p

In [2]:
print(a, b)

10 20

1.2. Unpacking Elements from Iterables of Arbitrary Length

In [3]:
p = (1, 2, 3, 4, 5)
a, *b, c = p

In [4]:
print('a: {0}, b: {1}, c: {2}'.format(a, b, c))

a: 1, b: [2, 3, 4], c: 5

1.3. Keeping the Last N Items

In [8]:
from collections import deque
keep_last_five = deque(maxlen=5)
for x in range(10):
    keep_last_five.append(x)
print(keep_last_five)

deque([5, 6, 7, 8, 9], maxlen=5)

1.4. Finding the Largest or Smallest N Items

In [21]:
import heapq
import random
random_num = [random.randrange(20) for _ in range(20)]
print(heapq.nlargest(5, random_num))
print(heapq.nsmallest(5, random_num))

[19, 17, 13, 13, 13]
[2, 3, 3, 4, 5]

1.5. Implementing a Priority Queue

In [45]:
class PQ:
    def __init__(self):
        self._queue = []
        self._idx = 0
    def push(self, item, priority):
        heapq.heappush(self._queue, (priority, self._idx, item))
        self._idx += 1
    def pop(self):
        return heapq.heappop(self._queue)[-1]

In [46]:
class Item:
    def __init__(self, name):
        self._name = name
    def __repr__(self):
        return 'Item({!r})'.format(self._name)

In [48]:
q = PQ()
q.push(Item('test1'),1)
q.push(Item('test2'),2)
q.push(Item('test3'),3)
q.push(Item('test11'),1)
for _ in range(4):
    print(q.pop(), end=" ")

Item('test1') Item('test11') Item('test2') Item('test3')

1.6. Mapping Keys to Multiple Values in a Dictionary

In [49]:
from collections import defaultdict
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(3)
print(d)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

1.7. Keeping Dictionaries in Order

In [51]:
from collections import OrderedDict
d = OrderedDict()
d['first'] = 1
d['second'] = 2
d['third'] = 0
for k, v in d.items():
    print('k: {!s}, v: {:d}'.format(k, v))

k: first, v: 1
k: second, v: 2
k: third, v: 0

1.8. Calculating with Dictionaries

In [68]:
d = {'a': 5, 'b': 2, 'c': 3, 'd': 4}
print(min(d))
min_d_key = min(zip(d.keys(), d.values()))
print(min_d_key)
min_d_value = min(zip(d.values(), d.keys()))
print(min_d_value)
print(min(d, key=lambda x: x))
print(min(d, key=lambda x: d[x]))

a
('a', 5)
(2, 'b')
a
b

1.9. Finding Commonalities in Two Dictionaries

In [67]:
a = {'a': 5, 'b': 2, 'c': 3, 'd': 4}
b = {'a': 4, 'b': 1, 'k': 3, 'l': 4}
print(a.keys() & b.keys())
print(a.keys() - b.keys())
print(a.items() & b.items())

{'a', 'b'}
{'c', 'd'}
set()

1.10. Removing Duplicates from a Sequence while Maintaining Order

In [79]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
p = [1, 2, 3, 4, 5, 2, 1]
removed_dup = [x for x in dedupe(p)]
print(removed_dup)
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
removed_dup_d = [x for x in dedupe(a, key=lambda d: (d['x'], d['y']))]
print(removed_dup_d)

[1, 2, 3, 4, 5]
[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

1.11. Naming a Slice

In [80]:
######    0123456789012345678901234567890123456789012345678901234567890'
record = '....................100          .......513.25     ..........'
SHARE_SLICE = slice(20,32)
PRICE_SLICE = slice(40,48)
share = int(record[SHARE_SLICE])
price = float(record[PRICE_SLICE])
print(share, price)

100 513.25

1.12. Determining the Most Frequently Occurring Items in a Sequence

In [96]:
words = [
       'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
       'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
       'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
       'my', 'eyes', "you're", 'under'
]
import itertools
for word, same_word in itertools.groupby(sorted(words), key=lambda w: w):
    print(word, len(list(same_word)))

from collections import Counter
word_counts = Counter(words)
print(word_counts.most_common(3))
morewords = ['why','are','you','not','looking','in','my','eyes']
word_counts.update(morewords)
print(word_counts.most_common(3))

around 2
don't 1
eyes 8
into 3
look 4
my 3
not 1
the 5
under 1
you're 1
[('eyes', 8), ('the', 5), ('look', 4)]
[('eyes', 9), ('the', 5), ('look', 4)]

1.13. Sorting a List of Dictionaries by a Common Key

In [105]:
rows = [
        {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
        {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
        {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
        {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]
import json
print(json.dumps(sorted(rows, key=lambda d: d['fname']), indent=2))
print(json.dumps(sorted(rows, key=lambda d: d['lname']), indent=2))

from operator import itemgetter
print(json.dumps(sorted(rows, key=itemgetter('lname')), indent=2))

[
  {
    "fname": "Big",
    "lname": "Jones",
    "uid": 1004
  },
  {
    "fname": "Brian",
    "lname": "Jones",
    "uid": 1003
  },
  {
    "fname": "David",
    "lname": "Beazley",
    "uid": 1002
  },
  {
    "fname": "John",
    "lname": "Cleese",
    "uid": 1001
  }
]
[
  {
    "fname": "David",
    "lname": "Beazley",
    "uid": 1002
  },
  {
    "fname": "John",
    "lname": "Cleese",
    "uid": 1001
  },
  {
    "fname": "Brian",
    "lname": "Jones",
    "uid": 1003
  },
  {
    "fname": "Big",
    "lname": "Jones",
    "uid": 1004
  }
]
[
  {
    "fname": "David",
    "lname": "Beazley",
    "uid": 1002
  },
  {
    "fname": "John",
    "lname": "Cleese",
    "uid": 1001
  },
  {
    "fname": "Brian",
    "lname": "Jones",
    "uid": 1003
  },
  {
    "fname": "Big",
    "lname": "Jones",
    "uid": 1004
  }
]

1.14. Sorting Objects Without Native Comparison Support

In [116]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)
users = [User(23), User(3), User(99)]
print(sorted(users, key=lambda u: u.user_id, reverse=True))

from operator import attrgetter
sorted(users, key=attrgetter('user_id'))

[User(99), User(23), User(3)]

[User(3), User(23), User(99)]

1.15. Grouping Records Together Based on a Field

In [122]:
rows = [
        {'address': '5412 N CLARK', 'date': '07/01/2012'},
        {'address': '5148 N CLARK', 'date': '07/04/2012'},
        {'address': '5800 E 58TH', 'date': '07/02/2012'},
        {'address': '2122 N CLARK', 'date': '07/03/2012'},
        {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
        {'address': '1060 W ADDISON', 'date': '07/02/2012'},
        {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
        {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]
import itertools
attri_date = lambda x: x['date']
rows.sort(key=attri_date)
for date, row in itertools.groupby(rows, key=attri_date):
    print(date,'\n', json.dumps(list(row), indent=2))

07/01/2012
 [
  {
    "address": "5412 N CLARK",
    "date": "07/01/2012"
  },
  {
    "address": "4801 N BROADWAY",
    "date": "07/01/2012"
  }
]
07/02/2012
 [
  {
    "address": "5800 E 58TH",
    "date": "07/02/2012"
  },
  {
    "address": "5645 N RAVENSWOOD",
    "date": "07/02/2012"
  },
  {
    "address": "1060 W ADDISON",
    "date": "07/02/2012"
  }
]
07/03/2012
 [
  {
    "address": "2122 N CLARK",
    "date": "07/03/2012"
  }
]
07/04/2012
 [
  {
    "address": "5148 N CLARK",
    "date": "07/04/2012"
  },
  {
    "address": "1039 W GRANVILLE",
    "date": "07/04/2012"
  }
]

1.16. Filtering Sequence Elements

In [130]:
a = [1, 4, -5, 10, -7, 2, 3, -1]
print([x for x in a if x > 2])
print([x if x > 2 else 0 for x in a])

[4, 10, 3]
[0, 4, 0, 10, 0, 0, 3, 0]

In [126]:
gen = (x for x in a if x < 3)
for x in gen:
    print(x, end=' ')

1 -5 -7 2 -1

1.17. Extracting a Subset of a Dictionary

In [133]:
prices = {
       'ACME': 45.23,
       'AAPL': 612.78,
       'IBM': 205.55,
       'HPQ': 37.20,
       'FB': 10.75
}
print({key: value for key, value in prices.items() if value > 70})

{'AAPL': 612.78, 'IBM': 205.55}

1.18. Mapping Names to Sequence Elements

In [143]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
sub = Subscriber('test1@test.com', '2011-10-10')
print(sub)
print(sub.addr)
addr, joined = sub
print(addr, joined)
sub = sub._replace(addr='test3@test.com')
print(sub)

Subscriber(addr='test1@test.com', joined='2011-10-10')
test1@test.com
test1@test.com 2011-10-10
Subscriber(addr='test3@test.com', joined='2011-10-10')

1.19. Transforming and Reducing Data at the Same Time

In [144]:
nums = [1, 2, 3, 4, 5]
print(sum(n for n in nums))

15

1.20. Combining Multiple Mappings into a Single Sum

In [149]:
from collections import ChainMap
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
c = ChainMap(a, b)
print(a, b, c)
del a['z']
print(a, b, c['z'])

{'x': 1, 'z': 3} {'y': 2, 'z': 4} ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})
{'x': 1} {'y': 2, 'z': 4} 4

In [150]:
a.update(b)
print(a, b)

{'x': 1, 'y': 2, 'z': 4} {'y': 2, 'z': 4}