![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.01 - Spark SQL: SQL Basics

## Background

In this example we will be executing a few simple SQL queries.

CREATE TABLE videos_by_actor (
  actor_name TEXT,
  release_year INT,
  character_name TEXT,
  video_id TIMEUUID,
  title TEXT,
  PRIMARY KEY (actor_name, release_year)
) ;

***

## Directions

Spark SQL is a relational engine on top of spark! Typically you will have the CassandraSQLContext, HiveContext and SQLContext at your disposal, but for the purposes of interacting with the Spark Kernel, we will be using the `sqlContext` which is based on the `HiveContext` discussed in the tutorial video. Don't worry the functionality should be the same!

To test that your context is executing against the cluster, let's begin by executing it standalone.

In [5]:
sqlContext

org.apache.spark.sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@1a1f22f2

We will be able to execute SQL statements with this context. Let's begin with a Select count from `videos_by_actor` where the actor is `Johnny Depp`. This is returning a dataframe, that is why we are including the `.show`.

In [1]:
sqlContext.sql("SELECT COUNT(*) AS total FROM killr_video.videos_by_actor WHERE actor_name = 'Johnny Depp'").show

+-----+
|total|
+-----+
|   26|
+-----+

Language-Integrated Queries use the API of the Spark context. Using the `read` method is similar to the `select` mentioned above. The `filter` acts like `where` clause in standard SQL. Let's recreate the same query above.

In [3]:
val movies = sqlContext.read.format("org.apache.spark.sql.cassandra").options(Map("keyspace" -> "killr_video", "table" -> "videos_by_actor")).load

In [6]:
movies.filter("actor_name = 'Johnny Depp' ").agg(Map("*" -> "count")).withColumnRenamed("COUNT(1)", "total").show

+-----+
|total|
+-----+
|   26|
+-----+