![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.07 - Spark SQL: Dataframe Language Integrated

## Background

In this example we will execute some additional examples of SQL queries.

CREATE TABLE videos_by_actor (
  actor_name TEXT,
  release_year INT,
  character_name TEXT,
  video_id TIMEUUID,
  title TEXT,
  PRIMARY KEY (actor_name, release_year)
) ;

***

## Directions

A useful tool is the `registerTempTable` method. We will begin by creating a dataframe.

In [31]:
val maxDF = sqlContext.sql("SELECT actor_name, MAX(release_year) as max_year FROM killr_video.videos_by_actor WHERE actor_name = 'Johnny Depp' GROUP BY actor_name")

maxDF.show

+-----------+--------+
| actor_name|max_year|
+-----------+--------+
|Johnny Depp|    2015|
+-----------+--------+

Now we will register that information as a temp table and use it in a SQL join.

In [32]:
maxDF.registerTempTable("max_year")

In [33]:
val movieDF = sqlContext.sql("SELECT M.actor_name, title, release_year FROM max_year as R JOIN killr_video.videos_by_actor as M ON (R.actor_name = M.actor_name) WHERE release_year > max_year - 1 ORDER BY release_year DESC")
movieDF.show

+-----------+----------+------------+
| actor_name|     title|release_year|
+-----------+----------+------------+
|Johnny Depp|Black Mass|        2015|
+-----------+----------+------------+

Another interesting method you can use is the `explain` method. This will output the query execution plan, so you can follow the steps Spark is using to complete the task.

In [26]:
movieDF.explain

== Physical Plan ==
Sort [release_year#46 DESC], true
 Exchange (RangePartitioning 200)
  Project [actor_name#43,title#47,release_year#46]
   Filter (release_year#46 > (max_year#21 - 1))
    ShuffledHashJoin [actor_name#22], [actor_name#43], BuildRight
     Aggregate false, [actor_name#22], [actor_name#22,MAX(PartialMax#49) AS max_year#21]
      Exchange (HashPartitioning 200)
       Aggregate true, [actor_name#22], [actor_name#22,MAX(release_year#25) AS PartialMax#49]
        Filter (actor_name#22 = Johnny Depp)
         HiveTableScan [actor_name#22,release_year#25], (MetastoreRelation killr_video, videos_by_actor, None), None
     Exchange (HashPartitioning 200)
      HiveTableScan [title#47,release_year#46,actor_name#43], (MetastoreRelation killr_video, videos_by_actor, Some(M)), None