![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 05.03 - Key-Value Pairs: Grouping-Sorting

## Background

This exercise will have you practicing grouping and sorting a dataset.

Data will be from the Cassandra `videos_by_tag` table with the following definition:

CREATE TABLE killr_video.videos_by_tag (
    tag TEXT,
    title TEXT,
    video_id TIMEUUID,
    avg_rating FLOAT,
    description TEXT,
    genres SET<TEXT>,
    mpaa_rating TEXT,
    release_date TIMESTAMP,
    release_year INT,
    user_id UUID,
    PRIMARY KEY (tag, title, video_id)
);

Note: There are some columns which may have a null value: `avg_rating` and `description`. Be sure to use the `Option[]` data type for those columns.

***

## Directions

#### 1. Query the `videos_by_tag` table grouping the records into groups of (tag, year), storing the title of the videos within the group. Display at least one result.

In [3]:
sc.cassandraTable[(String, Int, String)]("killr_video", "videos_by_tag")
    .select("tag", "release_year", "title")
    .map(tu => ((tu._1, tu._2), tu._3))
    .groupByKey()
    .take(10)
    .foreach(println)

((high tech,1996),CompactBuffer(Independence Day))
((contractor,1989),CompactBuffer(Loverboy))
((plant in title,2011),CompactBuffer(The Best Exotic Marigold Hotel))
((best friends,2004),CompactBuffer(Envy))
((president elections,2008),CompactBuffer(Swing Vote))
((yacht,2013),CompactBuffer(All Is Lost))
((fear of eating,1990),CompactBuffer(Troll 2))
((prison,1958),CompactBuffer(The Defiant Ones))
((menace,1988),CompactBuffer(Gorillas in the Mist))
((crusade,2006),CompactBuffer(Crusade in Jeans))

#### 2. Write a variation of the previous query to count the number of items in each group.

In [6]:
sc.cassandraTable[(String, Int)]("killr_video", "videos_by_tag")
    .select("tag", "release_year")
    .map(tu => ((tu._1, tu._2), 1))
    .reduceByKey(_ + _)
    .take(10)
    .foreach(println)

((high tech,1996),1)
((contractor,1989),1)
((plant in title,2011),1)
((best friends,2004),1)
((president elections,2008),1)
((yacht,2013),1)
((fear of eating,1990),1)
((prison,1958),1)
((immigrant,2004),1)
((menace,1988),1)

#### 3. Sort the results of your previous query to list the groups with the highest number of videos first.

In [8]:
sc.cassandraTable[(String, Int)]("killr_video", "videos_by_tag")
    .select("tag", "release_year")
    .map(tu => ((tu._1, tu._2), 1))
    .reduceByKey(_ + _)
    .map(tu => (tu._2, tu._1))
    .sortByKey(false)
    .take(10)
    .foreach(println)

((überwachung,2007),1)
((Überheblichkeit,2005),1)
((Ärzte,2006),1)
((Ärzte,2004),1)
((Ärzte,2002),1)
((Ärzte,1998),1)
((Ärzte,1992),1)
((Ärzte,1987),1)
((Ärger,2005),2)
((Ähnlichkeit,2004),1)