![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 17 - Key-Value Pairs: Pair RDD Set Operations

## Background

In this exercise, we'll be working with pair RDDs using key-based set operations to implement some queries.

Data will be from the Cassandra `videos` table:

CREATE TABLE killr_video.videos (
    video_id TIMEUUID,
    avg_rating FLOAT,
    description TEXT,
    genres SET<TEXT>,
    mpaa_rating TEXT,
    release_date TIMESTAMP,
    release_year INT,
    title TEXT,
    user_id UUID,
    PRIMARY KEY (video_id)
);

and the `videos_by_tag` table:

CREATE TABLE killr_video.videos_by_tag (
    tag TEXT,
    title TEXT,
    video_id TIMEUUID,
    avg_rating FLOAT,
    description TEXT,
    genres SET<TEXT>,
    mpaa_rating TEXT,
    release_date TIMESTAMP,
    release_year INT,
    user_id UUID,
    PRIMARY KEY (tag, title, video_id)
);

Note: There are some columns which may have a null value: `avg_rating` and `description`. Be sure to use the `Option[]` data type for those columns.

Keep in mind that there is a 1-n relationship between the `videos` table and the `videos_by_tag` table, i.e. there are multiple instances of the same video in `videos_by_tag`.

***

## Directions

#### 1. Use a pair RDD set operation to find the count of videos that do not have a tag.

In [8]:
val video = sc.cassandraTable[(java.util.UUID, String)]("killr_video", "videos")
    .select("video_id", "title")

val videoByTag = sc.cassandraTable[(java.util.UUID, String)]("killr_video", "videos_by_tag")
    .select("video_id", "title")

val count = video.subtractByKey(videoByTag)
    .count

println(count)

4359

#### 2. Write another query that finds videos that are tagged but do not exist in the `videos` table.

In [9]:
println(videoByTag.subtractByKey(video).count)

0

In this case, there are actually no tagged videos that do not exist in the `videos` tables.