![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.04 - Spark SQL: RDD Operations on Dataframes

## Background

We will be working with the `coalesce` method which is RDD like in nature.

CREATE TABLE killr_video.videos_by_actor (
    actor_name text,
    release_year int,
    character_name text,
    title text,
    video_id timeuuid,
    PRIMARY KEY (actor_name, release_year)
)

***

## Directions

Use the `coalesce` method to save the results of the query where the actor name is Johnny Depp on one partition. Cache the results and then select the count and show the results.

In [3]:
val movies = sqlContext
    .sql("SELECT title, release_year FROM killr_video.videos_by_actor WHERE actor_name = 'Johnny Depp'")
    .coalesce(1)

println(movies.count())
println(movies.show(4))

26
+--------------------+------------+
|               title|release_year|
+--------------------+------------+
|A Nightmare on El...|        1984|
|      Private Resort|        1985|
|             Platoon|        1986|
| Edward Scissorhands|        1990|
+--------------------+------------+

()