![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.02 - Spark SQL: Creating Dataframes

## Background

We will be reviewing several ways to create a dataframe.

***

## Directions

Let's begin by creating an dataframe using the `toDF` method and inferring the schema using reflection

In [2]:
import sqlContext.implicits._

case class Movie(title: String, year: Int)

val rdd = sc.parallelize(Array(Movie("Pirates of the Caribbean Sea", 2011)))

val df = rdd.toDF()

df.show

+--------------------+----+
|               title|year|
+--------------------+----+
|Pirates of the Ca...|2011|
+--------------------+----+

Now let's create a dataframe specifying the schema programmatically.

In [3]:
import org.apache.spark.sql.Row
import org.apache.spark.sql.types._

val rdd = sc.parallelize(Array(("Pirates of the Caribbean Sea", 2011)))
    .map{case(t, y) => Row(t, y)}

val schema = StructType(List(
    StructField("title", StringType, false),
    StructField("year", IntegerType, false)))

val df = sqlContext.createDataFrame(rdd, schema)

df.show

+--------------------+----+
|               title|year|
+--------------------+----+
|Pirates of the Ca...|2011|
+--------------------+----+

Create a dataframe specifying a SQL query. The types will be inferred from the table and this is an optimal method to use.

In [6]:
val df = sqlContext.sql("SELECT * FROM killr_video.videos")
df.limit(10).show

+-----------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+-----------+
|   video_id|avg_rating|         description|              genres|mpaa_rating|        release_date|release_year|               title|    user_id|
+-----------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+-----------+
|[B@2ca8f3f3|       7.0|After being wrong...|  ArrayBuffer(Crime)|          R|2005-09-09 00:00:...|        2005|Green Street Hool...|[B@54b225c3|
|[B@16d1120c|       5.8|Paulie, an intell...| ArrayBuffer(Family)|         PG|1998-04-17 00:00:...|        1998|              Paulie|[B@61b3d4cc|
| [B@aef9462|       6.0|A Reno singer wit...| ArrayBuffer(Comedy)|         PG|1992-05-28 00:00:...|        1992|          Sister Act|[B@4fb624c1|
|[B@51e91e49|       6.1|After a lightning...|ArrayBuffer(Famil...|         PG|1986-05-09 00:00:...|        1986|       Short Circuit|[B@2e83b50c|
|[B@5839783a|       5.4|A medieval tale w...| ArrayBuffer(Comedy)|         PG|1977-03-28 00:00:...|        1977|         Jabberwocky|[B@2657dfd0|
|[B@3f559605|       5.6|A parolee battles...|  ArrayBuffer(Crime)|          R|2010-11-10 00:00:...|        2010|    London Boulevard| [B@c4d6f36|
|[B@1fa63e2d|       6.1|A Shakespearean a...| ArrayBuffer(Horror)|          R|1973-04-05 00:00:...|        1973|    Theatre of Blood| [B@797cb56|
|[B@14e1801f|       6.3|Dorothy, saved fr...|ArrayBuffer(Famil...|         PG|1985-06-21 00:00:...|        1985|        Return to Oz|[B@73b2696a|
|[B@5dcb6667|       6.0|Ninja Assassin fo...|ArrayBuffer(Crime...|          R|2009-09-29 00:00:...|        2009|      Ninja Assassin|[B@643fdbf3|
|[B@7cc64e13|       5.6|Al Stump is a fam...|       ArrayBuffer()|          R|1994-12-02 00:00:...|        1994|                Cobb|[B@1cdf81d8|
+-----------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+-----------+

Lastly, let's create a dataframe using the dataframe reader method. `sqlContext.read`

In [8]:
val df = sqlContext.read
    .format("org.apache.spark.sql.cassandra")
    .options(Map("keyspace" -> "killr_video", "table" -> "videos"))
    .load
    .limit(10)

df.show

+--------------------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+--------------------+
|            video_id|avg_rating|         description|              genres|mpaa_rating|        release_date|release_year|               title|             user_id|
+--------------------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+--------------------+
|ece8de8f-a5e2-11e...|       7.0|After being wrong...|  ArrayBuffer(Crime)|          R|2005-09-09 00:00:...|        2005|Green Street Hool...|6b234a61-faa6-4b4...|
|ecf288d1-a5e2-11e...|       5.8|Paulie, an intell...| ArrayBuffer(Family)|         PG|1998-04-17 00:00:...|        1998|              Paulie|6b234a61-faa6-4b4...|
|ece73c02-a5e2-11e...|       6.0|A Reno singer wit...| ArrayBuffer(Comedy)|         PG|1992-05-28 00:00:...|        1992|          Sister Act|6b234a61-faa6-4b4...|
|ece77fe6-a5e2-11e...|       6.1|After a lightning...|ArrayBuffer(Famil...|         PG|1986-05-09 00:00:...|        1986|       Short Circuit|6b234a61-faa6-4b4...|
|eceb8257-a5e2-11e...|       5.4|A medieval tale w...| ArrayBuffer(Comedy)|         PG|1977-03-28 00:00:...|        1977|         Jabberwocky|6b234a61-faa6-4b4...|
|ecf5adbd-a5e2-11e...|       5.6|A parolee battles...|  ArrayBuffer(Crime)|          R|2010-11-10 00:00:...|        2010|    London Boulevard|6b234a61-faa6-4b4...|
|ecf1210f-a5e2-11e...|       6.1|A Shakespearean a...| ArrayBuffer(Horror)|          R|1973-04-05 00:00:...|        1973|    Theatre of Blood|6b234a61-faa6-4b4...|
|ecec23e8-a5e2-11e...|       6.3|Dorothy, saved fr...|ArrayBuffer(Famil...|         PG|1985-06-21 00:00:...|        1985|        Return to Oz|6b234a61-faa6-4b4...|
|ecefae51-a5e2-11e...|       6.0|Ninja Assassin fo...|ArrayBuffer(Crime...|          R|2009-09-29 00:00:...|        2009|      Ninja Assassin|6b234a61-faa6-4b4...|
|ecf1689e-a5e2-11e...|       5.6|Al Stump is a fam...|                null|          R|1994-12-02 00:00:...|        1994|                Cobb|6b234a61-faa6-4b4...|
+--------------------+----------+--------------------+--------------------+-----------+--------------------+------------+--------------------+--------------------+